<!DOCTYPE html>
<html>
  <head>
    <title> John Mauran </title>
    <link rel="icon" href="../assets/images/Programming-Outline-icon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/landing.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/about.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/projects.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/contact.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/loader.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400i" rel="stylesheet">

  </head>

  <body>
    <div class="loader-wrapper">
      <div class="loader">
        ...loading...
      </div>
    </div>
    <div class="main-wrapper">

        <div id="home"> </div>

        <div class="landing-container">
          <div class="landing">
          </div>
          <div class="landing-text">
            <div id="my_name">   John Mauran  </div>

            <div id='linkbase'>
              <ul class="scrollbuttonrow">
                <li><a class="scrollbutton" href="#about">About</a></li>
                <li><a class="scrollbutton" href="#projects">Projects</a></li>
                <li><a class="scrollbutton" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

      <div class="about">
      <div id="about">
        <img src="http://imgur.com/nVNawrF.jpg" class="img-circle" />
        <h3> About </h3>
        <span> I'm an ex-teacher and History / Russian major who realized that all I want
           to do is navigate the architecture of complex systems. The obvious choice was
           computer programming and web development, more specifically (for now!). Now I'm a budding
           Full-Stack Developer with RoR, ReactJS, jQuery, PostgreSQL under my belt, as well
           as Python scripting and other techs. Get in touch with me if you need a role filled
           or a problem solved!
        </span>
      </div>
      </div>

      <div class="projects">
      <div id="projects">
        <img src="../assets/images/blueprint.png" class="proj-img" />
        <div id="projhead">
        <h3> Projects </h3>
        <span> Here are a couple of my projects. More on <a
               href="https://github.com/jmauran91">GitHub</a></span>
        </div>
        <div id="projduo">
        <span id="proj1"> Ever been short of one piano keyboard? Now you never will be,
                          as long as you're next to a phone or computer. Check out my virtual
                          keyboard <a href="https://breakable-piano.herokuapp.com" >here</a>,
                           code <a href="https://github.com/jmauran91/Breakable-Toy">
                           here</a>.</span>


        <span id="proj2"> At this project you can check out reviews of other peoples' favorite albums
                          and add some of your own. Site <a href="https://group-project-tOtK.herokuapp.com" >
                          here</a>, code <a href="https://github.com/jmauran/91/GroupProject_tOtK">here</a>.
                          </span>
        </div>

      </div>
      </div>

      <div class="contact">
        <div id="contact">
          <h3> Contact </h3>
          <div id="contact_info">
            <span id="email"> Email: johnmauran1@gmail.com </span>
            <span id="phone">Phone: (401)-464-2519</span>
            <span id="linkedin"> LinkedIn: <a href="linkedin.com/in/john-mauran">
                    linkedin.com/in/john-mauran </a> </span>
          </div>
        </div>
      </div>

    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='../assets/javascript/main.js'></script>

  </body>
</html>
