
.projects {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #DCDCDC;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
}


#projects {
  position: absolute;
  height: 88%;
  width: 95%;
  margin-left: 2.5em;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: #BDBDBD;
  justify-content: center;
  padding: 0px;
  border-left: 6px solid black;
}

#projects h3 {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 140%;
  color: white;
}

#projects span {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 180%;
}

#projects p {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 180%;

}

div #projhead{
  display: block;
}

#projduo {
  margin-top: 1.2em;
  display: flex;
}



#proj1 {
  margin: 0px;
  padding-right: 3em;;
  padding-left: 3em;
  display: inline-block;
  float: left;
  width: 30%;
}

#proj2 {
  margin: 0px;
  padding-right: 4.7em;
  padding-left: 8.5vw;
  display: inline-block;
  float: right;
  width: 23%;
  border-left: 4px solid black;
}

#proj1 h3 {
  text-align: center;
}

#proj2 h3 {
text-align: center;
}

#proj1 p {

}

#proj2 p {

}

#projects img {
  float: left;
  vertical-align: middle;
  display: inline;
  margin: 32px;
  height: 40%;
}

.projtex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.projtex_pix {
  height: 120px;
  width: 120px;
}

.projtex_head {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;

}

/* FOR SMARTPHONES */

@media only screen and (max-width: 480px) {

  .projects{
    display: none;
  }


}
