
.projects {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #DCDCDC;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
}


#projects {
  position: absolute;
  height: 88%;
  width: 95%;
  margin-left: 2.5em;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: #BDBDBD;
  justify-content: center;
  padding: 0px;
  border-left: 6px solid black;
}

#projects h3 {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 140%;
  color: white;
}

#projects span {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 180%;
}

#projects p {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 180%;

}

div #projhead{
  display: block;
}

#projduo {
  margin-top: 1.2em;
  display: flex;
  flex-direction: row;
}

#projduo div {
  margin: 0px;
  border-left: 4px solid black;
  width: 17%;
  padding: 0 4vw;
}

#projduo p {
  font-size: 80%;
}


#proj1 {
  border-left: none !important;
}


#projects img {
  float: left;
  vertical-align: middle;
  display: inline;
  margin: 32px;
  height: 40%;
}

.projtex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 6px;
}

#reactjs{
  height: 120px;
  width: 120px;
}

#python{
  height: 120px;
  width: 120px;
}

.projtex_head {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;

}

/* FOR SMARTPHONES */

@media only screen and (max-width: 480px) {

  .projects{
    display: none;
  }


}
